{% extends 'base.html' %}

{% block head %}
<title>Quantum Algorithms</title>
{% endblock %}

{% block body %} 

<div class="head">
    <h1 style="text-align:center">QUANTUM ALGORITHMS</h1>
    <p style="text-align:center"> Some of the Quantum Algorithm with Qiskit implementation.</p>
</div>

<div class="top">
    <ul>
        <li class="item"><a href="/teleportation">Quantum Teleportation</a></li>
        <li class="item"><a href="/deutsch-jozsa">Deutsch-Jozsa Algorithm</a></li>
    </ul>
</div>

{% endblock %}
